body {
    font-family: 'Rubik', sans-serif;
}

.btn{
    box-shadow: 0 0 10px 0px rgba(255, 196, 0, 0.5);
}
.bg-local{
    background-image: url(assets/bg1.png);
    height: 645px;
    z-index: -999;
}
.test.active{
    color: rgb(99, 39, 0);
    font-weight: 700;
}
.section1 {
    height: 200px;
    width: 1070px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 60px 0px rgba(0, 0, 0, 0.1);
}

.bg2 {
    width: 600px;
}

.btn2 {
    box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.2);
}

.btn3 {
    box-shadow: 0 3px 8px 0px rgba(106, 64, 41, 0.403);
    background-color: rgba(106, 64, 41, 1);
}

.btn4 {
    box-shadow: 0 0px 3px 0px rgba(165, 165, 165, 0.403);
    background-color: rgb(240, 240, 240);
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

.bgFpassword{
    background-image: url(assets/bg3.png);
    height: 1100px;
    z-index: -999;
}

.bgcart{
    background-image: url(assets/bg5.png);
    height: 1100px;
    z-index: -999;
}
.cont {
    background-color: rgba(255, 203, 101, 1);
}
.cont2 {
    background-color: rgba(0, 0, 0, 1);
}
.cont3 {
    background-color: rgba(137, 85, 55, 1);
}

.cont4 {
    box-shadow: 0 30px 100px 0px rgba(0, 0, 0, 0.1);
}

.bgprofile{
    background-image: url(assets/bg4.png);
    height: 1100px;
    z-index: -999;
}

.bghis{
    background-image: url(assets/bg6.png);
    background-size: cover;
    height: 800px;
    z-index: -999;
}


.iptprofile::placeholder {
    color: black;
    opacity: 1;
}

.cb {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cb input {
    margin-top: 4px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    margin-top: 4px;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 4px solid rgb(155, 155, 155);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;

  }

.cb input:checked ~ .checkmark {
    background-color: #FFBA33;
    border: 4px solid #6A4029;
  }
  
/* kkkkkkkkkkkk */

.cb2 {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cb2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark2 {
    margin-top: 4px;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid rgb(155, 155, 155);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;

  }

.cb2 input:checked ~ .checkmark2 {
    background-color: #895537;
    border: 3px solid #ffffff;
    box-shadow: 0 0 0 2pt rgb(155, 155, 155);
  }


  .cb3 {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cb3 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark3 {
    margin-top: 2px;
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    border: 1px solid #895537;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;

  }

.cb3 input:checked ~ .checkmark3 {
    background-color: #895537;
    content: '#XF00C';
    color: beige;
  }

  .cb3 input:checked ~ .checkmark3::after {
    position: absolute;
    margin-top: -5px;
    font-family: "FontAwesome";
    content: "\F00C";
    color: beige;
  }

  
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  

  .mIsi {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height: 200px;
    border-radius: 15px;
  }
  

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }